{% extends 'main_page.html' %}
{% block content %}

<div class="animal-container">
<h2>Új kisállat hozzáadása</h2><br>
<hr>

<form method="POST" class="fancy-form" action="{{ url_for('add_animal') }}">
    <label>Név:</label>
    <input type="text" name="name" placeholder="Név" required>

    <label>Faj:</label>
    <input type="text" name="species" placeholder="Faj (kutya, macska...)" required>

    <label>Fajta:</label>
    <input type="text" name="breed" placeholder="Fajta">

    <label>Kor:</label>
    <input type="number" name="age" placeholder="Kor (év)" min="0">

    <label>Nem:</label>
    <select name="gender" required>
        <option value="" disabled selected>Válassz...</option>
        <option value="hím">Hím</option>
        <option value="kan">Kan</option>
        <option value="nőstény">Nőstény</option>
        <option value="szuka">Szuka</option>
    </select>

    <label>Leírás:</label>
    <textarea name="description" placeholder="Leírás" rows="4" cols="40"></textarea>

    <label>Kép URL:</label>
    <input type="text" name="image_url" placeholder="Kép URL">



    <button type="submit">Állat hozzáadása</button>
</form>
</div>

<br>
<a href="{{ url_for('list_animals') }}">⬅ Vissza a kisállatokhoz</a>

{% endblock %}