{% extends 'main_page.html' %}
{% block content %}

<div class="animal-container">
<h2>Új kisállat hozzáadása</h2><br>
<hr>

<form method="POST" class="fancy-form" action="{{ url_for('add_animal') }}">
    <label>Név:</label>
    <input type="text" name="name" required>

    <label>Faj:</label>
    <select name="species" id="species-select" required>
        <option value="kutya">Kutya</option>
        <option value="macska">Macska</option>
    </select>

    <label>Fajta:</label>
    <input type="text" name="breed">

    <label>Kor:</label>
    <input type="number" name="age" min="0">

    <label>Nem:</label>
    <select name="gender" required>
        <option value="hím">Hím</option>
        <option value="kan">Kan</option>
        <option value="nőstény">Nőstény</option>
        <option value=" szuka">Szuka</option>
    </select>
    <label>Leírás:</label>
    <textarea name="description" rows="4" cols="40"></textarea>

    <div class="form-field">
    <label>Kép feltöltése:</label>
    <input type="file" id="image_upload" accept="image/*">
    <input type="hidden" name="image_url" id="image_url_hidden">
    <p id="species-prediction" style="margin-top: 8px; font-weight: bold;"></p>
    </div>

    <h3>Orvosi bejegyzések</h3>
    <div id="medical-records-container"></div>

    <button type="button" onclick="addRecord()">➕ Új bejegyzés hozzáadása</button><br><br>

    <button type="submit">Állat hozzáadása</button>
</form>

<br>
<a href="{{ url_for('list_animals') }}">⬅ Vissza a kisállatokhoz</a>
</div>

{% endblock %}