{% extends 'main_page.html' %}
{% block content %}

<h2>Kisállataink</h2>
<hr>
<h3>Kisállat hozzáadása</h3>



{% for animal in animals %}
    <div class="animal">
        <br>
        {% if animal.image_url %}
                <img class= "animal_pic" src="{{ animal.image_url }}" alt="{{ animal.name }}">
            {% endif %}


        <p><strong>{{ animal.name }}</strong></p>
        <p>{{ animal.species }}</p>
        <p>{{ animal.breed }}</p>
        <p>{{ animal.gender }}</p>
        <p>{{ animal.description }}</p>


    </div>

{% endfor %}

{% endblock %}