{% extends 'base.html' %}
{% block content %}

<div class="animal-container"><br>
<h2>Kisállat szerkesztése: {{ animal.name }}</h2>

<form method="POST" class="fancy-form" action= "{{ url_for('edit_animal', animal_id=animal.id) }}">
    <label>Név:</label>
    <input type="text" name="name" value="{{ animal.name }}" required>

    <label>Faj:</label>
    <select name="species" id="species-select" required>
        <option value="kutya">Kutya</option>
        <option value="macska">Macska</option>
    </select>

    <label>Fajta:</label>
    <input type="text" name="breed" value="{{ animal.breed or '' }}">

    <label>Kor:</label>
    <input type="number" name="age" value="{{ animal.age or '' }}" min="0">

    <label>Nem:</label>
    <select name="gender" required>
        <option value="hím" {% if animal.gender == 'hím' %}selected{% endif %}>Hím</option>
        <option value="kan" {% if animal.gender == 'kan' %}selected{% endif %}>Kan</option>
        <option value="nőstény" {% if animal.gender == 'nőstény' %}selected{% endif %}>Nőstény</option>
        <option value="szuka" {% if animal.gender == 'szuka' %}selected{% endif %}>Szuka</option>
    </select>

    <label>Leírás:</label>
    <textarea name="description" rows="4" cols="40">{{ animal.description or '' }}</textarea>
    <br>
    <div class="form-field">
    <label>Kép feltöltése:</label><br>
    <input type="file" id="image_upload" accept="image/*">
    <input type="hidden" name="image_url" id="image_url_hidden">
    <p id="species-prediction" style="margin-top: 8px; font-weight: bold;"></p>
    </div><br>
    <h3>Orvosi bejegyzések</h3>
    <div id="medical-records-container">
        {% for record in animal.medical_records %}

            <div class="medical-record-block">
                <hr>
                <input type="hidden" name="record_id[]" value="{{ record.id }}">

                <label>Vakcina:</label>
                <input type="text" name="vaccine[]" value="{{ record.vaccine or '' }}">

                <label>Vakcina dátuma:</label>
                <input type="date" name="vaccine_date[]" value="{{ record.vaccine_date or '' }}">

                <label>Betegség:</label>
                <input type="text" name="disease[]" value="{{ record.disease or '' }}">

                <label>Kezelés:</label>
                <input type="text" name="treatment[]" value="{{ record.treatment or '' }}">

                <label>Állatorvos:</label>
                <input type="text" name="vet_name[]" value="{{ record.vet_name or '' }}"><br><br>

                <button type="button" onclick="removeRecord(this)">🗑 Bejegyzés törlése</button><br><br>
            </div>
        </div>
    {% endfor %}

    <a type="button" class="add-animal" onclick="addRecord()">➕ Új bejegyzés hozzáadása</a><br><br>
    <br><button class="add-animal" type="submit">Módosítások mentése</button>


</form>

<br>
<a href="{{ url_for('list_animals') }}">⬅ Vissza a kisállatokhoz</a>
</div>
{% endblock %}