{% extends 'base.html' %}
{% block content %}

<div class="register-container">
    <h2>Regisztráció</h2>
    <div class="pet">
        <img class="petimg" src="https://images.pexels.com/photos/54632/cat-animal-eyes-grey-54632.jpeg?_gl=1*zhsko6*_ga*NDkxODM5OTEuMTc3MTM1MTYxNw..*_ga_8JE65Q40S6*czE3NzEzNTE2MTckbzEkZzEkdDE3NzEzNTE3NTUkajM5JGwwJGgw" alt="pet">
    </div>

    <form id="form" class="fancy-form" method="POST">
        <div>
            <label>Felhasználónév:</label>
            <input type="text" name="username" required><br><br>

            <label>Email:</label>
            <input type="text" name="email" required><br><br>

            <label>Jelszó:</label>
            <input type="password" name="password" required><br><br>
            <br>

            <button type="submit">Regisztráció</button>
        </div>
    </form>

    <br>

</div>

{% endblock %}